:root {
    --base: #fff;
    --sub: #a1a1a1;
    --primary: #ed247f;
    --secondary: #f06d86;
    --accent: #24afed;
    --error: #e0004b;
    --warning: #e9c01c;
    --info: #5ee0e5;
    --success: #92e441;
    --default: #dfb03f;
    --black: #000;
}