html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #f1f1f1 !important;
}

a {
  color: unset;
  text-decoration: none !important;
}

* {
  box-sizing: border-box;
}

.feed {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #464fa2 !important;
}

.ant-carousel .slick-dots li button {
  background: #000 !important;
}
